name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Build with Buildozer
        run: |
          # Мы монтируем текущую папку в /home/user/app и запускаем сборку прямо там
          docker run --rm \
            -v "$(pwd)":/home/user/app \
            -v "$(pwd)/.buildozer":/home/user/.buildozer \
            --entrypoint /bin/bash \
            kivy/buildozer -c "yes | buildozer -v android debug -p /home/user/app"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Podarok_Nastya_Final
          path: bin/*.apk
